In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/상가업소정보_서울_202103.csv', sep='|')

In [3]:
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [4]:
#상권 중에 음식점만 분류
df = df[df['상권업종대분류명'] == '음식']

In [23]:
df = df[['상호명','지점명','상권업종대분류명','상권업종중분류명','상권업종소분류명','표준산업분류코드','표준산업분류명','지번주소','도로명주소','위도','경도']]

In [27]:
df['상권업종소분류명'].unique()

array(['한식/백반/한정식', '민속주점', '토스트전문', '삼계탕전문', '족발/보쌈전문', '곱창/양구이전문',
       '커피전문점/카페/다방', '패스트푸드', '호프/맥주', '국수/만두/칼국수', '떡전문', '참치전문점',
       '빠/카페/스탠드빠', '정통양식/경양식', '부대찌개/섞어찌개', '닭내장/닭발요리', '음식점-일식', '죽전문점',
       '도시락전문점', '해장국/감자탕', '떡볶이전문', '파전전문', '동남아음식전문점', '룸살롱/단란주점',
       '갈비/삼겹살', '중국음식/중국집', '횟집', '라면김밥분식', '도너츠전문', '로바다야끼', '피자전문',
       '제과점', '복전문', '후라이드/양념치킨', '구내식당/자급식음식점', '추어탕전문', '소주방/포장마차',
       '갈치/생선구이', '음식점-초밥전문', '스파게티전문점', '기사식당', '꼬치구이전문점', '패밀리레스토랑',
       '순대전문점', '종합부페', '아이스크림판매', '냉면집', '돌구이요리전문', '찜닭전문점', '아구전문',
       '관광/유흥주점', '기타고기요리', '닭갈비전문', '해물찜/탕전문', '홍어전문', '기타일반유흥주점',
       '보드게임카페', '케익전문점', '기타전문서양음식점', '스낵', '순두부전문', '생과일주스전문점',
       '오리고기전문', '곰장어전문', '떡/한과집', '샤브샤브전문', '설렁탕집', '쌈밥전문', '우동전문점',
       '낙지/오징어', '매운탕전문', '한정식전문', '전통찻집/인삼찻집', '야식집', '샌드위치전문점',
       '스테이크전문점', '고기부페', '민물장어전문', '돌솥/비빕밥전문점', '핫도그', '돈가스전문점',
       '두부요리전문', '철판구이요리전문', '수산물전문음식점-종합', '사철탕전문', '바베큐전문', '보리밥전문',
       '음식출장조달', '사주카페', '고등어전문', '황태전문', '국/찌개배달', '퓨전음식전문', '카레전문점',
       '조개구이전문', '한식부페', '고속도로휴게소', '불닭전문', '바닷가재/게요리전문', '굴요리전문', '찐빵전문',
       '탕수육전문점', '해물부페', '채식/한식부페', '토종닭전문', '닭도리탕전문', '생과자점', '애견카페',
       '게장전문', '락카페', '버섯전문점', '옻닭전문', '징기스칸요리전문', '유산균아이스크림전문', '재첩국전문'],
      dtype=object)

In [28]:
df['표준산업분류명'].unique()

array(['한식 음식점업', '기타 주점업', '피자, 햄버거, 샌드위치 및 유사 음식점업', '비알콜 음료점업',
       '그외 기타 음식점업', '분식 및 김밥 전문점', '제과점업', '일식 음식점업', '일반유흥 주점업',
       '서양식 음식점업', '기타 외국식 음식점업', '중식 음식점업', '치킨 전문점', '기관구내식당업', nan,
       '이동 음식업', '기타 섬유, 직물 및 의복액세서리 소매업', '노래연습장 운영업', '출장 음식 서비스업',
       '컴퓨터 게임방 운영업', '일반 교과 학원', '자동차 신품 판매업', '기타 식료품 소매업', '무도유흥 주점업',
       '마사지업', '체인화 편의점', '슈퍼마켓', '두발미용업', '전자상거래업', '그외 기타 종합 소매업',
       '점술 및 유사 서비스업', '여관업'], dtype=object)

In [44]:
index = df[df['표준산업분류명'] == '기타 섬유, 직물 및 의복액세서리 소매업'].index

In [40]:
df[df['표준산업분류명'] == '노래연습장 운영업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
4730,필노래방,NaN,음식,유흥주점,룸살롱/단란주점,R91223,노래연습장 운영업,서울특별시 강서구 화곡동 782-13,서울특별시 강서구 곰달래로60길 27,37.531011,126.863253

In [48]:
index = index.append(df[df['표준산업분류명'] == '노래연습장 운영업'].index)

In [50]:
df[df['표준산업분류명'] == '컴퓨터 게임방 운영업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
8557,블랙홀PC방,NaN,음식,커피점/카페,보드게임카페,R91222,컴퓨터 게임방 운영업,서울특별시 강동구 성내동 379-3,서울특별시 강동구 천호대로 1138,37.533892,127.137658

In [51]:
index = index.append(df[df['표준산업분류명'] == '컴퓨터 게임방 운영업'].index)

In [53]:
df[df['표준산업분류명'] == '일반 교과 학원']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
35221,만화방구,NaN,음식,커피점/카페,커피전문점/카페/다방,P85501,일반 교과 학원,서울특별시 마포구 연남동 259-5,서울특별시 마포구 동교로 235-1,37.561045,126.924087

In [54]:
index = index.append(df[df['표준산업분류명'] == '일반 교과 학원'].index)

In [56]:
df[df['표준산업분류명'] == '자동차 신품 판매업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
84680,벤틀리,NaN,음식,유흥주점,빠/카페/스탠드빠,G45110,자동차 신품 판매업,서울특별시 구로구 구로동 1130-1,서울특별시 구로구 시흥대로163길 15,37.481505,126.899167

In [57]:
index = index.append(df[df['표준산업분류명'] == '자동차 신품 판매업'].index)

In [63]:
df[df['표준산업분류명']=='마사지업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
97554,왕중왕마사지샵,NaN,음식,중식,중국음식/중국집,S96122,마사지업,서울특별시 구로구 가리봉동 126-59,서울특별시 구로구 우마길 27,37.480698,126.888947

In [64]:
index = index.append(df[df['표준산업분류명'] == '마사지업'].index)

In [66]:
df[df['표준산업분류명']=='체인화 편의점']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
101329,CUOREESPRESSO,OREESPRESSO,음식,커피점/카페,커피전문점/카페/다방,G47122,체인화 편의점,서울특별시 서초구 서초동 1357-66,서울특별시 서초구 강남대로 275,37.487894,127.031973

In [67]:
index = index.append(df[df['표준산업분류명'] == '체인화 편의점'].index)

In [69]:
df[df['표준산업분류명']=='슈퍼마켓']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
109970,카페에브리데이,NaN,음식,커피점/카페,커피전문점/카페/다방,G47121,슈퍼마켓,서울특별시 종로구 창신동 174-1,서울특별시 종로구 종로 321-2,37.57261,127.013376

In [70]:
index = index.append(df[df['표준산업분류명'] == '슈퍼마켓'].index)

In [73]:
df[df['표준산업분류명']=='두발미용업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
255423,레뮤즈,NaN,음식,커피점/카페,커피전문점/카페/다방,S96112,두발미용업,서울특별시 마포구 서교동 368-12,서울특별시 마포구 잔다리로2길 7,37.551431,126.920219

In [74]:
index = index.append(df[df['표준산업분류명'] == '두발미용업'].index)

In [77]:
df[df['표준산업분류명']=='전자상거래업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
256128,팀스퀘어,NaN,음식,커피점/카페,커피전문점/카페/다방,G47911,전자상거래업,서울특별시 중구 필동3가 79-4,서울특별시 중구 필동로 78,37.554715,126.996194

In [78]:
index = index.append(df[df['표준산업분류명'] == '전자상거래업'].index)

In [80]:
df[df['표준산업분류명']=='그외 기타 종합 소매업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
259882,에스코트,NaN,음식,유흥주점,빠/카페/스탠드빠,G47190,그외 기타 종합 소매업,서울특별시 구로구 구로동 1124-15,서울특별시 구로구 디지털로32길 97-11,37.483421,126.900722
263298,JEREMIE20,NaN,음식,중식,중국음식/중국집,G47190,그외 기타 종합 소매업,서울특별시 영등포구 양평동3가 45,서울특별시 영등포구 선유로 138,37.526054,126.891555
272811,1976,NaN,음식,닭/오리요리,후라이드/양념치킨,G47190,그외 기타 종합 소매업,서울특별시 영등포구 대림동 716-3,서울특별시 영등포구 도림로41길 8,37.494714,126.898159

In [81]:
index = index.append(df[df['표준산업분류명'] == '그외 기타 종합 소매업'].index)

In [83]:
df[df['표준산업분류명']=='점술 및 유사 서비스업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
287952,사주작명,NaN,음식,커피점/카페,사주카페,S96992,점술 및 유사 서비스업,서울특별시 종로구 관훈동 146-1,서울특별시 종로구 인사동길 57,37.574997,126.983502

In [84]:
index = index.append(df[df['표준산업분류명'] == '점술 및 유사 서비스업'].index)

In [86]:
df[df['표준산업분류명']=='여관업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
293483,세느,NaN,음식,커피점/카페,커피전문점/카페/다방,I55112,여관업,서울특별시 종로구 낙원동 122,서울특별시 종로구 돈화문로11길 28-5,37.572816,126.989804

In [87]:
index = index.append(df[df['표준산업분류명'] == '여관업'].index)

In [89]:
df[df['표준산업분류명']=='비알콜 음료점업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
37,커피빈,코리아대학로대명거리점,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 종로구 명륜4가 51,서울특별시 종로구 대명길 25,37.583149,127.000171
129,요거프레소,쌍문점,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 도봉구 쌍문동 20,서울특별시 도봉구 도당로 7,37.658728,127.034746
280,406번째스토브,NaN,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 양천구 목동 406-258,서울특별시 양천구 오목로 329-6,37.525177,126.874168
281,로얄커피숍,NaN,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 강동구 성내동 132-5,서울특별시 강동구 천호옛길 65,37.534901,127.124193
297,빈트리망원점,망원점,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 마포구 망원동 418-22,서울특별시 마포구 망원로 22,37.556041,126.899339
...,...,...,...,...,...,...,...,...,...,...,...
346537,로컬스티치북앤커피,NaN,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 영등포구 영등포동 618-496,서울특별시 영등포구 경인로 846,37.515661,126.907647
346538,카페시모,NaN,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 동작구 노량진동 47-2,서울특별시 동작구 장승배기로 161,37.512523,126.939930
346539,만랩커피,오금역점,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 송파구 가락동 18-8,서울특별시 송파구 중대로23길 21,37.502381,127.125353
346540,레프트커피,NaN,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 동대문구 회기동 61-10,서울특별시 동대문구 회기로 164,37.590469,127.054187
346541,더쌍화커피,NaN,음식,커피점/카페,커피전문점/카페/다방,I56220,비알콜 음료점업,서울특별시 노원구 중계동 154-23,서울특별시 노원구 덕릉로83길 16,37.660092,127.074544

In [90]:
index = index.append(df[df['표준산업분류명'] == '비알콜 음료점업'].index)

In [92]:
df[df['표준산업분류명']=='제과점업']

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
120,대덕떡사랑,NaN,음식,제과제빵떡케익,떡전문,I56191,제과점업,서울특별시 은평구 갈현동 469-6,서울특별시 은평구 서오릉로 162,37.612630,126.915326
291,던킨도너츠동대문홈플러스,NaN,음식,패스트푸드,도너츠전문,I56191,제과점업,서울특별시 동대문구 용두동 33-1,서울특별시 동대문구 천호대로 133,37.574540,127.038754
346,샹제르망,NaN,음식,제과제빵떡케익,제과점,I56191,제과점업,서울특별시 은평구 역촌동 13-54,서울특별시 은평구 역말로 71,37.606376,126.918180
431,데이앤데이,천호점,음식,제과제빵떡케익,제과점,I56191,제과점업,서울특별시 강동구 천호동 454-1,서울특별시 강동구 천호대로 1017,37.538720,127.125133
521,토끼의떡방아,NaN,음식,제과제빵떡케익,떡전문,I56191,제과점업,서울특별시 중랑구 망우동 358-6,서울특별시 중랑구 용마산로 554,37.600429,127.100696
...,...,...,...,...,...,...,...,...,...,...,...
346557,얼음과자,NaN,음식,패스트푸드,아이스크림판매,I56191,제과점업,서울특별시 강서구 방화동 829-4,서울특별시 강서구 금낭화로 135,37.577436,126.812418
346558,오이소서울,상일점,음식,패스트푸드,아이스크림판매,I56191,제과점업,서울특별시 강동구 상일동 513,서울특별시 강동구 고덕로80길 123,37.550924,127.165574
346559,얼음왕국명일14,6호점,음식,패스트푸드,아이스크림판매,I56191,제과점업,서울특별시 강동구 명일동 270,서울특별시 강동구 상암로 214,37.546317,127.146217
346560,얼음과자,NaN,음식,패스트푸드,아이스크림판매,I56191,제과점업,서울특별시 강동구 고덕동 210-4,서울특별시 강동구 고덕로83길 6,37.557399,127.168909
346561,꽁꽁냠냠,서울1호점,음식,패스트푸드,아이스크림판매,I56191,제과점업,서울특별시 중랑구 면목동 46-1,서울특별시 중랑구 용마산로96길 32,37.589893,127.099147

In [93]:
index = index.append(df[df['표준산업분류명'] == '제과점업'].index)

In [94]:
index

Int64Index([  2784,   4730,   8557,  35221,  84680,  97554, 101329, 109970,
            255423, 256128,
            ...
            344915, 345264, 345265, 346510, 346556, 346557, 346558, 346559,
            346560, 346561],
           dtype='int64', length=28583)

In [95]:
df.drop(index, inplace=True)

In [117]:
df.to_csv("seoul_dining_list.csv",index=False, encoding='utf-8-sig')

In [106]:
df['index'] = df.index

In [111]:
df = df.drop('index',axis=1)

In [114]:
df.to_csv("seoul_dining_list_indexed.csv",index=True, encoding='utf-8-sig')

In [118]:
tf = pd.read_csv("seoul_dining_list.csv")

In [119]:
tf

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도
0,도전최강달인왕만두,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 강동구 고덕동 693,서울특별시 강동구 고덕로 333,37.556197,127.159471
1,이때,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 마포구 연남동 390-67,서울특별시 마포구 동교로38안길 7,37.562176,126.924660
2,L.A.D,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 마포구 서교동 395-112,서울특별시 마포구 잔다리로3안길 23,37.550689,126.919845
3,제이씨에스푸드,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 관악구 신림동 118-33,서울특별시 관악구 신림로14길 3,37.471190,126.937790
4,비지트,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 서초구 방배동 854-18,서울특별시 서초구 동광로18길 82,37.488375,126.991394
...,...,...,...,...,...,...,...,...,...,...,...
107222,뚱땡이생삼겹,NaN,음식,한식,갈비/삼겹살,I56111,한식 음식점업,서울특별시 금천구 독산동 297-12,서울특별시 금천구 가산로3길 10,37.472447,126.895061
107223,한우마을,NaN,음식,한식,갈비/삼겹살,I56111,한식 음식점업,서울특별시 강동구 명일동 346-2,서울특별시 강동구 상암로 192,37.546100,127.143673
107224,기찻길풍경,NaN,음식,한식,곱창/양구이전문,I56111,한식 음식점업,서울특별시 노원구 공릉동 351-1,서울특별시 노원구 공릉로39길 21,37.623620,127.078259
107225,롤러와,NaN,음식,분식,라면김밥분식,I56194,분식 및 김밥 전문점,서울특별시 동작구 본동 187-4,서울특별시 동작구 노량진로18길 37,37.512349,126.951787
107226,개성순대1967,학동점,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 강남구 논현동 215-15,서울특별시 강남구 논현로124길 5,37.512394,127.032064

In [121]:
#위 경도를 이용하여 거리 구하기
!pip3 install haversine

Collecting haversine
  Downloading haversine-2.3.1-py2.py3-none-any.whl (5.5 kB)
Installing collected packages: haversine
Successfully installed haversine-2.3.1

In [122]:
from haversine import haversine

In [124]:
start = (float(df.iloc[1]['위도']), float(df.iloc[1]['경도']))
#연세대 37.56586784404183, 126.93859008739398
end = (float(37.56586784404183), float(126.93859008739398))

In [126]:
yonsei_point = (float(37.56586784404183), float(126.93859008739398))

In [129]:
def get_distance(x) :
    target = (float(x['위도']), float(x['경도']))
    return haversine(target,yonsei_point)

In [130]:
get_distance(df.iloc[0])

19.49920339763195

In [125]:
haversine(start,end)

1.2946398171973383

In [ ]:
#거리 반경 1.3km 설정

In [133]:
df['distance'] = df.apply(get_distance, axis=1)

In [136]:
df

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도,distance
0,도전최강달인왕만두,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 강동구 고덕동 693,서울특별시 강동구 고덕로 333,37.556197,127.159471,19.499203
1,이때,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 마포구 연남동 390-67,서울특별시 마포구 동교로38안길 7,37.562176,126.924660,1.294640
2,L.A.D,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 마포구 서교동 395-112,서울특별시 마포구 잔다리로3안길 23,37.550689,126.919845,2.361964
3,제이씨에스푸드,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 관악구 신림동 118-33,서울특별시 관악구 신림로14길 3,37.471190,126.937790,10.527920
11,비지트,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 서초구 방배동 854-18,서울특별시 서초구 동광로18길 82,37.488375,126.991394,9.794573
...,...,...,...,...,...,...,...,...,...,...,...,...
346491,뚱땡이생삼겹,NaN,음식,한식,갈비/삼겹살,I56111,한식 음식점업,서울특별시 금천구 독산동 297-12,서울특별시 금천구 가산로3길 10,37.472447,126.895061,11.074607
346492,한우마을,NaN,음식,한식,갈비/삼겹살,I56111,한식 음식점업,서울특별시 강동구 명일동 346-2,서울특별시 강동구 상암로 192,37.546100,127.143673,18.211400
346493,기찻길풍경,NaN,음식,한식,곱창/양구이전문,I56111,한식 음식점업,서울특별시 노원구 공릉동 351-1,서울특별시 노원구 공릉로39길 21,37.623620,127.078259,13.880346
346511,롤러와,NaN,음식,분식,라면김밥분식,I56194,분식 및 김밥 전문점,서울특별시 동작구 본동 187-4,서울특별시 동작구 노량진로18길 37,37.512349,126.951787,6.063713
346543,개성순대1967,학동점,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 강남구 논현동 215-15,서울특별시 강남구 논현로124길 5,37.512394,127.032064,10.162628

In [135]:
df.to_csv("seoul_dining_list_with_distance.csv",index=True, encoding='utf-8-sig')

In [137]:
#거리가 1.3km 보다 작거나 같은 음식점들만 뽑기
df_mask = df['distance']<=1.3
new_df = df[df_mask]

In [138]:
new_df

,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,표준산업분류코드,표준산업분류명,지번주소,도로명주소,위도,경도,distance
1,이때,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 마포구 연남동 390-67,서울특별시 마포구 동교로38안길 7,37.562176,126.924660,1.294640
49,대원식당,NaN,음식,분식,국수/만두/칼국수,I56194,분식 및 김밥 전문점,서울특별시 서대문구 대현동 34-30,서울특별시 서대문구 이화여대길 64,37.559250,126.944871,0.920894
313,SRS버거킹,이대점,음식,패스트푸드,패스트푸드,I56199,그외 기타 음식점업,서울특별시 서대문구 대현동 54-7,서울특별시 서대문구 이화여대길 30,37.558241,126.945915,1.065890
350,벌떼식당,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 마포구 노고산동 31-23,서울특별시 마포구 신촌로20길 12,37.554604,126.938169,1.253088
432,ZINO본점,본점,음식,양식,정통양식/경양식,I56114,서양식 음식점업,서울특별시 서대문구 대신동 84-1,서울특별시 서대문구 연대동문길 45,37.564409,126.944391,0.536427
...,...,...,...,...,...,...,...,...,...,...,...,...
345893,앵란이모네포차,NaN,음식,분식,라면김밥분식,I56194,분식 및 김밥 전문점,서울특별시 서대문구 창천동 57-52,서울특별시 서대문구 연세로5가길 16,37.557394,126.935832,0.973146
345920,BARREGGIOSEOUL,NaN,음식,한식,한식/백반/한정식,I56111,한식 음식점업,서울특별시 서대문구 창천동 72-10,서울특별시 서대문구 연세로5다길 9,37.556295,126.934908,1.112823
346184,하이,라오상,음식,중식,중국음식/중국집,I56112,중식 음식점업,서울특별시 서대문구 창천동 2-7,서울특별시 서대문구 연세로12길 27,37.559094,126.938546,0.753218
346209,바른치킨,북아현점,음식,유흥주점,호프/맥주,I56219,기타 주점업,서울특별시 서대문구 북아현동 1-954,서울특별시 서대문구 이화여대8길 123,37.563191,126.950283,1.072739
346468,순살만공격,마포신촌점,음식,유흥주점,호프/맥주,I56219,기타 주점업,서울특별시 서대문구 창천동 503-3,서울특별시 서대문구 신촌로 31,37.557712,126.930168,1.171986

In [140]:
new_df.rename(columns = {'상호명': 'dining_name', '지점명': 'branch_name', '도로명주소':'address','위도':'latitude', '경도':'longitude'}, inplace=True)

/Users/pdh/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [142]:
new_df = new_df[['dining_name','branch_name','address','latitude','longitude','distance']]

In [143]:
new_df

,dining_name,branch_name,address,latitude,longitude,distance
1,이때,NaN,서울특별시 마포구 동교로38안길 7,37.562176,126.924660,1.294640
49,대원식당,NaN,서울특별시 서대문구 이화여대길 64,37.559250,126.944871,0.920894
313,SRS버거킹,이대점,서울특별시 서대문구 이화여대길 30,37.558241,126.945915,1.065890
350,벌떼식당,NaN,서울특별시 마포구 신촌로20길 12,37.554604,126.938169,1.253088
432,ZINO본점,본점,서울특별시 서대문구 연대동문길 45,37.564409,126.944391,0.536427
...,...,...,...,...,...,...
345893,앵란이모네포차,NaN,서울특별시 서대문구 연세로5가길 16,37.557394,126.935832,0.973146
345920,BARREGGIOSEOUL,NaN,서울특별시 서대문구 연세로5다길 9,37.556295,126.934908,1.112823
346184,하이,라오상,서울특별시 서대문구 연세로12길 27,37.559094,126.938546,0.753218
346209,바른치킨,북아현점,서울특별시 서대문구 이화여대8길 123,37.563191,126.950283,1.072739
346468,순살만공격,마포신촌점,서울특별시 서대문구 신촌로 31,37.557712,126.930168,1.171986

In [149]:
import numpy as np

In [161]:
new_df.iloc[0].isnull()['branch_name']

True

In [153]:
new_df.iloc[0].branch_name

nan

In [152]:
np.nan

nan

In [168]:
def get_total_name(x):
    if x.isnull()['branch_name'] :
        return x['dining_name']
    else :
        if x['branch_name'] in x['dining_name'] :
            return x['dining_name']
        else :
            return x['dining_name'] +' ' + x['branch_name']

In [175]:
new_df['total_name'] = new_df.apply(get_total_name, axis=1)

<ipython-input-175-57ee275c9978>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['total_name'] = new_df.apply(get_total_name, axis=1)

In [177]:
new_df = new_df[['total_name','dining_name','branch_name','address','latitude','longitude','distance']]

In [181]:
new_df.to_csv("yonsei_dining_list.csv",index=False, encoding='utf-8-sig')

In [180]:
new_df

,total_name,dining_name,branch_name,address,latitude,longitude,distance
1,이때,이때,NaN,서울특별시 마포구 동교로38안길 7,37.562176,126.924660,1.294640
49,대원식당,대원식당,NaN,서울특별시 서대문구 이화여대길 64,37.559250,126.944871,0.920894
313,SRS버거킹 이대점,SRS버거킹,이대점,서울특별시 서대문구 이화여대길 30,37.558241,126.945915,1.065890
350,벌떼식당,벌떼식당,NaN,서울특별시 마포구 신촌로20길 12,37.554604,126.938169,1.253088
432,ZINO본점,ZINO본점,본점,서울특별시 서대문구 연대동문길 45,37.564409,126.944391,0.536427
...,...,...,...,...,...,...,...
345893,앵란이모네포차,앵란이모네포차,NaN,서울특별시 서대문구 연세로5가길 16,37.557394,126.935832,0.973146
345920,BARREGGIOSEOUL,BARREGGIOSEOUL,NaN,서울특별시 서대문구 연세로5다길 9,37.556295,126.934908,1.112823
346184,하이 라오상,하이,라오상,서울특별시 서대문구 연세로12길 27,37.559094,126.938546,0.753218
346209,바른치킨 북아현점,바른치킨,북아현점,서울특별시 서대문구 이화여대8길 123,37.563191,126.950283,1.072739
346468,순살만공격 마포신촌점,순살만공격,마포신촌점,서울특별시 서대문구 신촌로 31,37.557712,126.930168,1.171986

In [183]:
ddf = pd.read_csv("../data/yonsei_dining_list.csv")

In [185]:
ddf['dining_id'] = ddf.index

In [187]:
ddf = ddf[['dining_id','total_name','dining_name','branch_name','address','latitude','longitude','distance']]

In [189]:
ddf.to_csv("yonsei_dining_list.csv",index=False, encoding='utf-8-sig')

In [192]:
new_ddf = pd.read_csv("yonsei_dining_list.csv")

In [193]:
new_ddf

,dining_id,total_name,dining_name,branch_name,address,latitude,longitude,distance
0,0,이때,이때,NaN,서울특별시 마포구 동교로38안길 7,37.562176,126.924660,1.294640
1,1,대원식당,대원식당,NaN,서울특별시 서대문구 이화여대길 64,37.559250,126.944871,0.920894
2,2,SRS버거킹 이대점,SRS버거킹,이대점,서울특별시 서대문구 이화여대길 30,37.558241,126.945915,1.065890
3,3,벌떼식당,벌떼식당,NaN,서울특별시 마포구 신촌로20길 12,37.554604,126.938169,1.253088
4,4,ZINO본점,ZINO본점,본점,서울특별시 서대문구 연대동문길 45,37.564409,126.944391,0.536427
...,...,...,...,...,...,...,...,...
1923,1923,앵란이모네포차,앵란이모네포차,NaN,서울특별시 서대문구 연세로5가길 16,37.557394,126.935832,0.973146
1924,1924,BARREGGIOSEOUL,BARREGGIOSEOUL,NaN,서울특별시 서대문구 연세로5다길 9,37.556295,126.934908,1.112823
1925,1925,하이 라오상,하이,라오상,서울특별시 서대문구 연세로12길 27,37.559094,126.938546,0.753218
1926,1926,바른치킨 북아현점,바른치킨,북아현점,서울특별시 서대문구 이화여대8길 123,37.563191,126.950283,1.072739
1927,1927,순살만공격 마포신촌점,순살만공격,마포신촌점,서울특별시 서대문구 신촌로 31,37.557712,126.930168,1.171986